//Main nav theme
$primary: #4D6D44;

//Regular color
$secondary: #559245;

//Lite primary for footer
$tertiary: #B9DEAF;

//Primary accent and positive confirmation
$accent-1: #ECCC02;

//Footer & other accents
$accent-2: #866C20;

//Base background image
$accent-3: #F8F8F8;