//Mukta Bold
@font-face{
    font-family: 'Ek_Mukta_Bold';
    src: url('/fonts/Mukta-Bold.ttf') format('truetype');
}

//Mukta Extra-Bold 
@font-face{
    font-family: 'Ek_Mukta_Extra_Bold';
    src: url('/fonts/Mukta-ExtraBold.ttf') format('truetype');
}

//Mukta Light
@font-face{
    font-family: 'Ek_Mukta_Light';
    src: url('../fonts/Mukta-Light.ttf') format('truetype');
}

//Mukta Extra-Light
@font-face{
    font-family: 'Ek_Mukta_Extra_Light';
    src: url('/fonts/Mukta-ExtraLight.ttf') format('truetype');
}

//Mukta Medium
@font-face{
    font-family: 'Ek_Mukta_Medium';
    src: url('/fonts/Mukta-Medium.ttf') format('truetype');
}

//Mukta Regular
@font-face{
    font-family: 'Ek_Mukta_Regular';
    src: url("../fonts/Mukta-Regular.ttf") format('truetype');
}

//Mukta Semi-Bold
@font-face{
    font-family: 'Ek_Mukta_Semi_Bold';
    src: url('/fonts/Mukta-SemiBold.ttf') format('truetype');
}