//Mukta Regular
.mukta_regular_base{
    font-family: 'Ek_Mukta_Regular';
    color: #000;
}
    .mukta_reg_26{
        @extend .mukta_regular_base;
        font-size: 26px;
    }


//Mukta Medium
.mukta_medium_base{
    font-family: 'Ek_Mukta_Medium';
    color: #000;
}

.mukta_light_base{
    font-family: 'Ek_Mukta_Light';
    color: #000;
}

.mukta_extra_light_base{
    font-family: '';
    color: #000;
}

.mukta_bold_base{
    font-family: 'Ek_Mukta_Bold';
    color: #000;
}

.mukta_extra_bold_base{
    font-family: 'Ek_Mukta_Extra_Bold';
    color: #000;
}

.mukta_semi_light_base{
    font-family: 'Ek_Mukta_Semi_Bold';
    color: #000;
}