<style>
    
</style>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a>Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div>
        <ul class="navbar-nav navbar_links ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/locations.html">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
</nav>

<script>
    var origin = window.location.origin;
    var page_location = window.location.href.replace(origin + '/', '').trim();

    $('.navbar_links a[href*="' + page_location + '"]').addClass('active').siblings().removeClass('active');

    if(page_location == "" || null) {
        $('.navbar_links a[href="/"]').addClass('active').siblings().removeClass('active');
    }
</script>