<head class="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/TheArbory.png" type="image/icon type">
    <link rel="icon" href="./images/TheArbory.png" type="image/icon type">    
    <title id="site_title"></title>
    <script> document.querySelector("#site_title").innerHTML = document.title</script>
</head>